:root {
  --background-color: #1f1f1f;
  --text-color: #888888;
  --altbackground-color: #282828;
}
#dbjson {
  display: none;
}
.App {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

#app-main-content{
  display: flex;
  flex-direction: column;
}

.code-snapshots img{
 
}

#slide {
  background-color: var(--altbackground-color);
  padding-right: 1rem;
  text-align: center;
  height: 100vh;
  width: 35px;
  writing-mode: vertical-rl;
  color: white;
  text-orientation: mixed;
  transition:             width 500ms ease;
      -moz-transition:    width 500ms ease;
      -ms-transition:     width 500ms ease;
      -o-transition:      width 500ms ease;
      -webkit-transition: width 500ms ease;
}
