:root {
  --background-color: #1f1f1f;
  --text-color: #888888;
  --altbackground-color: #282828;
}

* {
  background-color: var(--background-color);
}
#dbjson {
  display: none;
}

#dbjson img {
  pointer-events: inherit;
}
.App {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  padding-left: 1rem;
  display: flex;
}

.sub-header {
  display: flex;
}
.dream {
  margin-left: 40px;
  margin-right: 40px;
  border: solid var(--altbackground-color)
}

.dream p {
  padding-right: 1rem;
  padding-left: 1rem;
}

.render-container{
  width: 50%;
}

.within-a-dream {
  display: flex;
  flex-wrap: wrap;
  /* display: none; */
}

.dreamcard {
  width: 40%;
  margin: 1rem;
  border: solid var(--text-color);
}

.dreamcard #text-container {
  padding: 1rem;
}

.dreamcard #ride-the-kick-button {
  color: var(--text-color);
  background-color: var(--altbackground-color);
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
}

.meta-data{
  display: flex;
  width: 50%;
  padding-right: 2rem;
}

.whats-up {
  height: 35vh;
}

img {
  width: 100%;
}

#app-main-content{
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.step-button {
  color: var(--text-color);
  background-color: var(--altbackground-color);
  border: none;
  padding: 30px 60px;
  font-size: 3vh;
  border-radius: 50px;
  margin: 2rem;
}

#slide {
  background-color: var(--altbackground-color);
  padding-right: 1rem;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 35px;
  writing-mode: vertical-rl;
  color: var(--text-color);
  text-orientation: mixed;
  transition:             width 500ms ease;
      -moz-transition:    width 500ms ease;
      -ms-transition:     width 500ms ease;
      -o-transition:      width 500ms ease;
      -webkit-transition: width 500ms ease;
}
